@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: url('/bg-img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: url('/bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
